header {
    background-color: rgb(24, 165, 118);
    margin: 0 auto;
    align-items: center;
    padding: 0 auto;
    display: flex;
    justify-content: space-between;


    
    
}
body {
    background-color: rgb(255, 255, 255);
}
footer {
    background-color: rgb(13, 159, 156);
    bottom: 0;
    width: 100%;
    position: fixed
}

h1{
    color:aliceblue;
    border-color: black;
}
h2{
    
    color: black;
    border-color: black;
    display: flex;
    justify-content: space-around;
}
.header_title{
    text-align: center;
    
    
}
.basket_icon {
    position:fixed;
    right: 0;
    text-align: right;
    
}
#most_recent{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
}